- name: "Update the system"
  yum:
    name: '*'
    state: latest
  become: yes

- name : "Install prerequisite"
  yum:
    name: {{item}}
    state: latest
  become: yes
  with_items:
    - java-1.8.0-openjdk
    - java-1.8.0-openjdk-devel


- name: "Installing elasticsearch"
  yum:
    name: "{{ elastic_repo_redhat }}"
    state: latest
  become: yes

- name: "Copy config file"
  copy:
    src: "../files/elasticsearch.yaml"
    dest: "/etc/elasticsearch/elasticsearch.yaml"
  become: yes

- name: "Enable elasticsearch"
  systemd:
    name: elasticsearch.service
    enabled: yes
  become: yes

- name: "Start elasticsearch"
  systemd:
    name: elasticsearch.service
    state: started
  become: yes
   
    